@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jetbrains-mono.woff2') format('woff2');
	font-weight: normal; /* Or specify weights if you have multiple files */
	font-style: normal;
	font-display: swap; /* This helps prevent a flash of unstyled text */
}

* {
	font-family: 'JetBrains Mono', monospace;
}

@theme {
	--color-primary-accent: var(--color-green-400);
	--color-secondary-accent: var(--color-green-700);

	--color-hover-accent: var(--color-green-500);
	--color-focus-accent: var(--color-green-600);
}
